.main-title {
  font-size: clamp(1.5rem, 4vw, 53px);
  font-style: normal;
  font-weight: 700;
}

.accordion-gallery {
  display: flex;
  height: 75vh;
  overflow: hidden;
}
.accordion-gallery .accordion-card {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: flex 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.accordion-gallery .accordion-card .overlay {
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.3s ease;
}
.accordion-gallery .accordion-card .caption {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.accordion-gallery .accordion-card .move-text {
  position: relative;
  bottom: 0;
  color: #BDCD5C;
  font-size: 24px;
  font-weight: 700;
  transition: transform 0.5s ease, font-size 0.5s ease, bottom 0.5s ease;
}
.accordion-gallery .accordion-card .more-btn {
  color: #fff;
  border-radius: 40px;
  background: #A18E77;
  padding: 0 30px;
}
.accordion-gallery .accordion-card:hover {
  flex: 3;
}
.accordion-gallery .accordion-card:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.accordion-gallery .accordion-card:hover .caption {
  opacity: 0;
  transform: translateY(20px);
  display: none;
}
.accordion-gallery .accordion-card:hover .move-text {
  position: absolute;
  transform: translateY(-350px);
  font-size: 48px;
}
.accordion-gallery .accordion-card:hover .move-text::after {
  content: "";
  position: absolute;
  background: #A18E77;
  height: 120%;
  width: 4px;
  top: 0;
  left: -20px;
}
.accordion-gallery .accordion-card.active {
  flex: 3;
}
.accordion-gallery .accordion-card.active .overlay {
  opacity: 1;
  visibility: visible;
}
.accordion-gallery .accordion-card.active .caption {
  opacity: 0;
  transform: translateY(20px);
  display: none;
}
.accordion-gallery .accordion-card.active .move-text {
  position: absolute;
  transform: translateY(-350px);
  font-size: 48px;
}
.accordion-gallery .accordion-card.active .move-text::after {
  content: "";
  position: absolute;
  background: #A18E77;
  height: 120%;
  width: 4px;
  top: 0;
  left: -20px;
}
.accordion-gallery:hover .accordion-card:not(:hover) {
  flex: 1;
}
.accordion-gallery:hover .accordion-card:not(:hover) .caption {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.accordion-gallery:hover .accordion-card:not(:hover) .move-text {
  position: relative;
  transform: translateY(0px);
  font-size: 24px;
}
.accordion-gallery:hover .accordion-card:not(:hover) .move-text::after {
  display: none;
}
.accordion-gallery:hover .accordion-card:not(:hover) .overlay {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
.accordion-gallery .accordion-card:nth-child(1) {
  background: linear-gradient(0deg, rgba(22, 33, 85, 0.5), rgba(22, 33, 85, 0.5) 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/gallery4.png");
  background-size: cover;
  background-position: center;
}
.accordion-gallery .accordion-card:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 80, 184, 0.4), rgba(0, 80, 184, 0.4) 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/gallery3.png");
  background-size: cover;
  background-position: center;
}
.accordion-gallery .accordion-card:nth-child(3) {
  background: linear-gradient(0deg, rgba(161, 142, 119, 0.4) 0%, rgba(161, 142, 119, 0.4) 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/gallery2.png");
  background-size: cover;
  background-position: center;
}
.accordion-gallery .accordion-card:nth-child(4) {
  background: linear-gradient(0deg, rgba(174, 195, 99, 0.4) 0%, rgba(174, 195, 99, 0.4) 100%), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/gallery1.png");
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.padding {
  padding-left: clamp(16px, 12.5vw, 240px) !important;
  padding-right: clamp(16px, 12.5vw, 240px) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.secondary-color {
  color: #BDCD5C;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-18 {
  font-size: 18px;
}

.fw-700 {
  font-weight: 700;
}

.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  min-height: 48px;
  font-size: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
}

header {
  padding-top: 112px;
}

.main-header {
  background: linear-gradient(254deg, rgba(16, 18, 27, 0.65) 26.67%, rgba(41, 45, 67, 0.35) 98.72%);
}

.header-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main-header {
  height: 100vh;
}

.nav-link {
  color: #fff !important; /* Default link color */
  transition: color 0.3s ease;
}

.nav-link svg path {
  fill: #fff !important; /* Default icon color */
  transition: fill 0.3s ease;
}

.navbar.scrolled .nav-link {
  color: #2C3A82 !important; /* Change nav link color when scrolling */
}

.navbar.scrolled svg path {
  fill: #2C3A82 !important; /* Default icon color */
}

section {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
section h2 {
  color: #2C3A82;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
