.dropdown-toggle::after{
    display: none;
  }
  
  .scrolled-logo{
    display: none;
  }
  
  .navbar{
    background: none;
  }
  
  .navbar-nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-link {
    color: #fff ;
    transition: color 0.3s ease;
  
    &:hover{
      color: #fff;
    }
  }
  
  .main-nav .nav-item{
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }
  
    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }
  }

.navbar-brand{
    width: 255.343px;
    height: 85.07px;
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;
  }
  
  .navbar-collapse.show {
    margin-top: 30px;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar.navbar-open {
    background-color: #000000bd;
  }
  
  .navbar-toggler{
    border-color: #fff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .nav-link svg path{
    fill: #fff ; 
    transition: fill 0.3s ease;
  }
  
  .nav-link svg circle{
    stroke: #fff ; 
    transition: fill 0.3s ease;
  }
  
  .navbar.scrolled{
    background: #fff;
  }
  
  .navbar.scrolled .nav-link {
    color: $primary-color ; 
  }
  
  .navbar.scrolled svg path {
    fill: $primary-color ; 
  }
  
  .navbar.scrolled svg circle{
    stroke: $primary-color ; 
  }
  
  .navbar.scrolled .main-logo{
    display: none;
  }
  
  .navbar.scrolled .scrolled-logo{
    display: block;
  }
  .navbar.scrolled .btn-primary{
    background: $secondary-color;
  }
  
  .navbar.scrolled .navbar-open {
    background-color: #ffffff;
  }
  
  .navbar.scrolled .navbar-toggler{
    border-color: $primary-color;
  }
  
  .navbar.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232C3A82' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  @media screen and (max-width:500px) {
    .navbar-brand{
      width: 150px;
      height: 60px; 
    }
  }