$primary-color: #2C3A82;
$secondary-color: #BDCD5C;
$padding: 75px clamp(16px, 12.5vw, 240px);
$navbar-height: 112px;

// @import "node_modules/bootstrap/scss/bootstrap-rtl";
@import "gallery";
@import "swiper";


body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.padding{
  padding-left: clamp(16px, 12.5vw, 240px) ;
  padding-right: clamp(16px, 12.5vw, 240px) ;
}
 
a{
  text-decoration: none;
  color: inherit;
}

// colors
.primary-color {
  color: $primary-color;
}
.secondary-color {
  color: $secondary-color;
}

// fonts
.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-18{
  font-size: 18px;
}

.fw-700{
  font-weight: 700;
}

// imgs
.img-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// btns
.btn{
  min-height: 48px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 16px;
}

.btn-primary{
  background: $primary-color;
  color: #fff;
  padding: 0 8px;
  min-height: 28px;

  &:hover{
    background: $primary-color;
    color: #fff;
  }
}

.secondary-btn{
  background: $secondary-color;
  color: $primary-color;
  width: 100%;
  text-align: center;

  &:hover{
    background: $secondary-color;
    color: $primary-color;
  }
}


.btn-primary-outline{
  background: none;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 0 24px;

  &:hover{
    background: none;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

// nav & header

.navbar-brand{
  width: 255.343px;
  height: 85.07px;
}

header{
  padding-top: 112px;
}

.main-header {
  background: linear-gradient(254deg, rgba(16, 18, 27, 0.65) 26.67%, rgba(41, 45, 67, 0.35) 98.72%);
}

.header-bg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main-header{
  height: 100vh;
}

.main-title{
  font-size: clamp(1.5rem, 4vw, 53px);
  font-style: normal;
  font-weight: 700;
}

.dropdown-toggle::after{
  display: none;
}

.scrolled-logo{
  display: none;
}

.navbar{
  background: none;
}

.navbar-nav{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: #fff ;
  transition: color 0.3s ease;

  &:hover{
    color: #fff;
  }
}

.main-nav .nav-item{
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
}



.nav-link svg path{
  fill: #fff ; 
  transition: fill 0.3s ease;
}

.nav-link svg circle{
  stroke: #fff ; 
  transition: fill 0.3s ease;
}

.navbar.scrolled{
  background: #fff;
}

.navbar.scrolled .nav-link {
  color: $primary-color ; 
}

.navbar.scrolled svg path {
  fill: $primary-color ; 
}

.navbar.scrolled svg circle{
  stroke: $primary-color ; 
}

.navbar.scrolled .main-logo{
  display: none;
}

.navbar.scrolled .scrolled-logo{
  display: block;
}
.navbar.scrolled .btn-primary{
  background: $secondary-color;
}

// .navbar .collapse.show{
//   background: #fff;
// }

section {
  padding: $padding;
  border-bottom: 1px solid #eee;
}

.title{
  font-size: clamp(1.5rem, 4vw, 48px);
  font-weight: 500;
  color: $primary-color;
}

// responsive
@media screen and (max-width:500px) {
  .navbar-brand{
    width: 150px;
    height: 60px; 
  }
}